html {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  color: #121212;
  height: 100%;
}

body {
  margin: 0;
  padding: 6em 2em;
  max-width: 950px;
  margin: 0 auto;
  height: calc(100% - 12em);
}

header {
  display: block;
  width: 100%;
}

h1,
h2 {
  text-align: center;
  padding: 0;
  margin: 0s;
  font-size: 30px;
}

.actions {
  text-align: center;
  margin: 2em 0 10em;
}

.actions input,
.actions select {
  font-size: 15px;
  font-weight: 100;
  color: #707070;
  border: 1px solid #707070;
}

.actions input {
  width: 150px;
  padding: 0 0.5em;
  line-height: 33px;
  height: 33px;
  margin-right: 0.2em;
}

.actions select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 0.5em;
  width: 200px;
  line-height: 35px;
  height: 35px;
  font-family: inherit;
  background: url(/assets/icons/dropdown.png) no-repeat 100% 50%;
}

.container {
  width: 100%;
  position: relative;
  display: inline-block;
}

#create-note {
  width: 240px;
  height: 35px;
  line-height: 35px;
  background-color: #121212;
  color: #ffffff;
  border: none;
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 400;
  margin-top: 1em;
}

#notes {
  width: calc(100% - 360px);
  padding-left: 120px;
  float: left;
}

#notes::-webkit-scrollbar {
  display: none;
}

#notes a {
  display: inline-block;
  color: #121212;
  text-decoration: none;
  margin: 5px 10px;
  padding: 100px 35px 50px 35px;
  width: calc(50% - 100px);
  box-shadow: 5px 15px 20px #d1d1d1;
}

#notes a > p {
  margin: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;

  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#notes a > p:nth-of-type(1) {
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 0.4em;
  line-height: 1.2em;
  height: 2.4em;
}

#notes a > p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 100;
  color: #525252;
  line-height: 1.5em;
  height: 4.5em;
  margin-bottom: 1em;
}

#notes a > span {
  display: inline-block;
  font-weight: 900;
}

/* Edit page */
.go-home {
  width: 100%;
  text-align: center;
  margin: 1em 0 4em;
}

.go-home a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(/assets/icons/go-home.png) 50% 50% no-repeat;
  background-color: #121212;
}

.edit-container {
  margin: 0 auto;
  width: calc(100% - 8em);
  padding: 2em 4em;
  box-shadow: 5px 15px 20px #d1d1d1;
}

.edit-container input {
  display: block;
  width: 100%;
  background: none;
  line-height: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: 900;
  border: none;
  border-bottom: #121212;
}

.edit-container input::placeholder {
  color: #b9b9b9;
}

.edit-container textarea {
  display: block;
  width: 100%;
  border: none;
  height: 400px;
  font-size: 1.2em;
  font-family: "Avenir";
  font-weight: 100;
  padding: 1em 0;
  resize: none;
  border: none;
  border-top: 1px solid #b9b9b9;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.edit-container textarea::placeholder {
  color: #707070;
}

#remove-note {
  width: 240px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  background-color: #121212;
  border: none;
  font-size: 16px;
  font-family: "Avenir";
  margin: 2em 0;
}
